/* Home.css */
.image-container {
    /* max-width: 100%; */
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    border-radius: 50%;
    /* margin-right: 20px; */
    width: 295px;
    height: 295px;
}

.Home img{
    cursor: pointer;
    height: 295px;
    border-radius: 50%;
    border: .5rem solid white;
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    transition: ease-in-out 0.5s;
}

.Home img:hover{
    transform: scale(1.1);
    margin-right: 20px;
}

.info-container {
    margin: 20px;
    /* text-align: left; */
}

.info-container .info-button {
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #007bff;
    background: none;
    font-weight: bold;
}

.Home h1 {
    font-size: 2.5rem;
    margin: 0 0 5px 0;
}

.Home h2 {
    font-size: 1.5rem;
    margin: 0 0 5px 0;
}

p {
    width: 500px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
}

.buttons-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.Home .home-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #007bff;
    /* Primary button color */
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Home .home-button:hover {
    background-color: #0056b3;
    /* Darker color on hover */
}
