/* Sidebar.css */

.Sidebar {
    position: fixed;
    top: 0;
    right: 0%;
    /* Initially hidden on the right side */
    height: 100vh;
    /* 100% of the page height */
    width: 500px;
    /* 25% of the page width */
    /* background-color: #333; */
    background-color: var(--second-color);
    color: white;
    transition: ease-in-out 0.5s;
    /* Transition for right property */

    /* Additional styling (adjust as needed) */
    padding-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    /* Ensure it's above other content */
}

@media(max-width: 480px) {
    .Sidebar {
        width: 100%;
    }
}

.Sidebar.open {
    right: 0;
    /* Show the Sidebar when 'open' class is applied */
}

.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
    padding-left: 10px;
}

/* Additional styling for links or other Sidebar content */
.Sidebar ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

.Sidebar ul li {
    text-align: center;
    cursor: pointer;
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 30px;
    border-bottom: 1px solid #03a9f4;
    transition: ease-in-out 0.5s;
}

.Sidebar ul li:hover {
    background: #03a9f4;
    padding-left: 2px;
}

.Sidebar ul li a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 2px;
    background: none;
    outline: none;
    border: none;
}